.header{
    color:grey;
    padding: 20px 10px;
    width: 1180px;
    height: 220px;
}
h1{
    margin-left: 160px;
    font-size : 500%; 
    font-family: Brush Script MT, Brush Script Std, cursive;
}
a{
    color: rgba(0, 0, 0, 0.645);
    text-decoration: none;
    font-size : 180%;
    margin: 15px;
}

.inner {
    border: 2px dotted gray;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 500px 300px;
    margin-left: 100px
}

.boxMySpaceImg{
    margin: 15px;
}
#content {
    border: 2px dotted gray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: 100px;
    padding: 0 auto;
}

.left table {
    margin-left: 15px;
}

.ddate {
    border: 2px solid tomato;
}

#content span {
    font-size: 10px;

}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.sidetitle {
    color: #000;
    font-weight: normal;
    font-size: 7pt;
    font-family: verdana;
    letter-spacing: 2px;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 15px;
    background-color: #ccc;
}